<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AvailableLibraries</key>
	<array>
		<dict>
			<key>BinaryPath</key>
			<string>GoogleDataTransport.framework/GoogleDataTransport</string>
			<key>LibraryPath</key>
			<string>GoogleDataTransport.framework</string>
		</dict>
	</array>
  <key>CFBundleExecutable</key>
	<string>GoogleDataTransport</string>
  <key>CFBundleName</key>
  <string>GoogleDataTransport</string>
  <key>CFBundleIdentifier</key>
  <string>com.xccache.GoogleDataTransport</string>
	<key>CFBundlePackageType</key>
	<string>XFWK</string>
	<key>XCFrameworkFormatVersion</key>
	<string>1.0</string>
</dict>
</plist>
